{% extends 'vacunacion/base.html' %}
{% block content %}
    <div class="container table-responsive-xl">
        <div class="row justify-content-end">
            <div class="col-2 btn-group text-center">
                <button class="btn btn-primary" onclick="location.href='{% url 'registro' %}'">
                    AGREGAR
                </button>
            </div>
        </div>
        <h1 class="text-center">Personas vacunadas</h1>
        <br>
        <table class="table">
            <tr>
                <td scope="col">ID</td>
                <td scope="col">Nombres</td>
                <td scope="col">Apellidos</td>
                <td scope="col">DUI</td>
                <td scope="col">Departamento de origen</td>
                <td scope="col">Municipio de origen</td>
                <td scope="col">Fecha de nacimiento</td>
                <td scope="row"></td>
            </tr>
            <tbody>
            {% for persona in personas %}
                <tr>
                    <th scope="row">{{ persona.id }}</th>
                    <td scope="row">{{ persona.nombres }}</td>
                    <td scope="row">{{ persona.apellidos }}</td>
                    <td scope="row">{{ persona.dui }}</td>
                    <td scope="row">{{ persona.departamento_de_nacimiento.nombre }}</td>
                    <td scope="row">{{ persona.municipio_de_nacimiento.nombre }}</td>
                    <td scope="row">{{ persona.fecha_de_nacimiento }}</td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-dark btn-sm" type="button"
                                    onclick="location.href='{% url 'modificar-persona-vacunada' id_persona=persona.id %}'">
                                Editar
                            </button>
                            <button class="btn btn-danger btn-sm btn" type="button"
                                    onclick="location.href='{% url 'eliminar-persona-vacunada' id_persona=persona.id %}'">
                                Eliminar
                            </button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}