{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static "bootstrap-5.0.1-dist/css/bootstrap.min.css" %}">
    <script src="{% static 'bootstrap-5.0.1-dist/js/bootstrap.bundle.min.js' %}"></script>
    <title>SDPVES</title>
    {% block head %}
    {% endblock %}
</head>
<body class="bg-light">
<!-- Menú de navegación-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid col">
        <!-- Toggle button -->
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a href='{% url 'pagina-principal' %}'>
                <img
                        src="{% static 'minerva2.png' %}"
                        height="50"
                        alt=""
                        loading="lazy"
                />
            </a>
            <!-- Left links -->
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Página principal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'administrar-personas-vacunadas' %}">Administrador</a>
                </li>
            </ul>
            <!-- Left links -->
        </div>
    </div>
</nav>

{% block content %}
{% endblock %}

</body>
<!-- Footer -->
<footer class="text-lg-center bg-light text-muted">
    <!-- Section: Links  -->
    <section class="container-fluid">
        <div class="container-fluid text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h2 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"> SDPVES</i>
                    </h2>
                    <p>
                        Sistema para la Determinación de Personas Vacunadas en El Salvador.
                        <br>
                        <br>
                        Muestra los datos de las personas vacunadas por COVID-19 en El Salvador, por departamento y
                        municipio.
                    </p>
                </div>
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contáctenos
                    </h6>
                    <div>
                        <div>
                            <a href='{% url 'pagina-principal' %}'>
                                <img
                                        src="{% static 'minerva2.png' %}"
                                        height="50"
                                        alt="UES Logo"
                                        loading="lazy"
                                />
                            </a>
                        </div>
                        <div>
                            <i class="fas fa-home me-3">Estudiantes de la Universidad de El Salvador
                            </i>
                            <br>
                            <a href="hm19065@ues.edu.sv">Josué Andrés Hernández Martínez</a>
                            <br>
                            <a href="tr19005@ues.edu.sv">Marck Donovan Tobar Rodriguez</a>
                            <br>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Section: Links  -->
    <!-- Copyright -->
    <div class="text-center p-lg-2 bg-dark" style="background-color: rgba(0, 0, 0, 0.05);">
        <h5>© Copyright 2021</h5>
        <h6 class="text-center">Josué Andrés Hernández Martínez<br>Marck Donovan Tobar Rodriguez </h6>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
</html>
