{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'bootstrap-5.0.1-dist/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap-5.0.1-dist/js/bootstrap.bundle.min.js' %}"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
<!-- Menú de navegación-->
<div>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="/">PÁGINA PRINCIPAL</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/./admin">ADMINSTRADOR</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'mostrar_departamentos' %}">MOSTRAR DEPARTAMENTOS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'ingresar_persona_vacunada' %}">REGISTRAR A NUEVA PERSONA VACUNADA</a>
        </li>

    </ul>
</div>
<br>
{% block content %}
{% endblock %}
</body>
</html>
