{% extends 'vacunacion/base.html' %}
{% block content %}
    <table class="table table-hover table-bordered">
        <thead class="thead-light">
        <tr>
            <td scope="col">ID</td>
            <td scope="col">ID Departamento</td>
            <td scope="col">Nombre</td>
            <td scope="col">Municipios</td>
        </tr>
        </thead>
        <tbody>
        {% for depas in departamentos %}
            <tr>
                <th scope="row">{{ depas.id }}</th>
                <td scope="row">{{ depas.codigo_departamento }}</td>
                <td scope="row">{{ depas.nombre }}</td>
                <td>
                    <button class="btn btn-primary" type="button"
                            onclick="location.href='{% url 'mostrar_municipios' codigo_depa=depas.codigo_departamento %}'">
                        Mostrar municipios
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}