{% extends 'vacunacion/base.html' %}
{% load static %}
{% load humanize %}
{% block head %}
    <script src="{% static 'higthcharts-9.1.2/highcharts.js' %}"></script>
    <script src="{% static 'higthcharts-9.1.2/modules/data.js' %} "></script>
    <script src="{% static 'higthcharts-9.1.2/modules/drilldown.js' %}"></script>
    <script src="{% static 'higthcharts-9.1.2/modules/exporting.js' %}"></script>
    <script src="{% static 'higthcharts-9.1.2/modules/export-data.js' %}"></script>
    <script src="{% static 'higthcharts-9.1.2/modules/accessibility.js' %}"></script>
    <script src="{% static 'higthcharts-9.1.2/themes/grid-light.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="container-fluid justify-content-center align-content-center p-4">
        <div>
            <div>
                <figure class="highcharts-figure">
                    <div class="container-fluid" id="grafico"></div>
                </figure>
            </div>
        </div>
    </div>
    <div class="container-fluid text-center">
        {% if personas.count == 0 %}
            <div class="p-4">
                <h2>NO HAY DATOS</h2>
            </div>
        {% else %}
            <div class="p-1">
                <h2>{{ personas.count|intcomma }}</h2>
                <h4>TOTAL NACIONAL</h4>
            </div>
        {% endif %}
    </div>
    <script type="application/javascript">
        // Create the chart
        let datos_departametos = {
            {% for key, value in total_por_depas.items %}
                '{{ key }}': {{ value|intcomma }},
            {% endfor %}
        }

        let datos_municipios = {
            {% for key, value in total_por_munis.items %}
                '{{ key }}': {{ value|intcomma }},
            {% endfor %}
        }
        Highcharts.chart('grafico', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'CANTIDAD DE PERSONAS VACUNADAS - 2021',
                style: {
                    color: "#000000"
                }
            },
            subtitle: {
                text: 'Fuente: SDPVES',
                style: {
                    color: "#000000"
                }
            },
            accessibility: {
                announceNewData: {
                    enabled: true
                }
            },
            xAxis: {
                title: {
                    text: 'DEPARTAMENTOS',
                },
                type: 'category'
            },
            yAxis: {
                title: {
                    text: 'PERSONAS VACUNADAS',
                }
            },
            legend: {
                enabled: false,
            },
            plotOptions: {
                series: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true,
                        format: '{point.y:f}',
                    }
                },
            },
            tooltip: {
                headerFormat: '<span style="font-size:14px">{series.name}</span><br>',
                pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:f}</b> en total<br/>'
            },
            series: [
                {
                    name: "Departamento",
                    colorByPoint: true,
                    data: [
                        {% for depa in departamentos %}
                            {
                                name: "{{ depa.nombre }}",
                                drilldown: "{{ depa.nombre }}", // Nombre que recibe la subcolumna para identificar esta
                                                                // en el javascript de abajo
                                y: datos_departametos['{{ depa.nombre }}']
                            },
                        {% endfor %}
                    ],
                },
            ],
            drilldown: {
                series: [
                    {% for depa in departamentos %}
                        {
                            name: "{{depa.nombre}}",
                            id: "{{depa.nombre}}",// Nombre de sub grafica igual al nombre primera columna
                            data: [
                                {% for muni in municipios %}
                                    {% if muni.departamento_id == depa.id %}
                                        [
                                            "{{muni.nombre}}", // Nombre municipio
                                            datos_municipios['{{ muni.nombre }}']
                                        ],
                                    {% endif %}
                                {% endfor %}
                            ]
                        },
                    {% endfor %}
                ],
            },
        });
    </script>
{% endblock %}
