{% extends 'vacunacion/base.html' %}
{% load static %}

{% block head %}
    <script src="{% static 'higthcharts-9.1.2/highcharts.js' %}"></script>
    <script src="{% static 'higthcharts-9.1.2/modules/data.js' %} "></script>
    <script src="{% static 'higthcharts-9.1.2/modules/drilldown.js' %}"></script>
    <script src="{% static 'higthcharts-9.1.2/modules/exporting.js' %}"></script>
    <script src="{% static 'higthcharts-9.1.2/modules/export-data.js' %}"></script>
    <script src="{% static 'higthcharts-9.1.2/modules/accessibility.js' %}"></script>
    <script src="{% static 'higthcharts-9.1.2/themes/grid-light.src.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <figure class="highcharts-figure">
            <div class="container-sm" id="grafico"></div>
        </figure>
    </div>
    <script type="application/javascript">
        // Create the chart
        let datos_departametos = {
            {% for key, value in total_por_depas.items %}
                '{{ key }}': {{ value }},
            {% endfor %}
        }

        let datos_municipios = {
            {% for key, value in total_por_munis.items %}
                '{{ key }}': {{ value }},
            {% endfor %}
        }
        Highcharts.chart('grafico', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Cantidad de personas vacunadas - 2021',
            },
            subtitle: {
                text: 'Fuente: SDPVES'
            },
            accessibility: {
                announceNewData: {
                    enabled: true
                }
            },
            xAxis: {
                type: 'category'
            },
            yAxis: {
                title: {
                    text: 'Cantidad de personas vacunadas',
                }
            },
            legend: {
                enabled: false
            },
            plotOptions: {
                series: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true,
                        format: '{point.y:f}',
                    }
                }
            },

            tooltip: {
                headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:f}</b> en total<br/>'
            },
            series: [
                {
                    name: "Departamento",
                    colorByPoint: true,
                    data: [
                        {% for depa in departamentos %}
                            {
                                name: "{{ depa.nombre }}",
                                drilldown: "{{ depa.nombre }}", // Nombre que recibe la subcolumna para identificar esta
                                                                // en el javascript de abajo
                                //y: Math.floor(Math.random() * 101), // Aquí irá la suma total de personas en el departamento
                                y: datos_departametos['{{ depa.nombre }}']
                            },
                        {% endfor %}
                    ],
                },
            ],
            drilldown: {
                series: [
                    {% for depa in departamentos %}
                        {
                            name: "{{depa.nombre}}",
                            id: "{{depa.nombre}}",// Nombre de sub grafica igual al nombre primera columna
                            data: [
                                {% for muni in municipios %}
                                    {% if muni.codigo_departamento.codigo_departamento == depa.codigo_departamento %}
                                        [
                                            "{{muni.nombre}}", // Nombre municipio
                                            datos_municipios['{{ muni.nombre }}']
                                        ],
                                    {% endif %}
                                {% endfor %}
                            ]
                        },
                    {% endfor %}
                ]
            }
        })
        ;
    </script>
{% endblock %}
